Host git.cbuzz.in
    HostName git.cbuzz.in
    Port 10022
    IdentityFile ~/.ssh/gitssh.id_rsa
    User git
    IdentitiesOnly yes

Host github.com
    HostName github.com
    Port 22
    User git
    IdentitiesOnly yes
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/gitssh.id_rsa

Host *.cricbuzz.com
    Port 7374
    IdentityFile ~/.ssh/prod.root.charan-ganesh
    User root
    IdentitiesOnly yes

Host *.cricbuzz.cbt
    Port 7374
    IdentityFile ~/.ssh/dev.root.charan-ganesh
    User root
    IdentitiesOnly yes

Host *.cricbuzz.stg
    Port 7374
    IdentityFile ~/.ssh/dev.root.charan-ganesh
    User root
    IdentitiesOnly yes

Host *
    IdentityFile ~/.ssh/dev.root.charan-ganesh
    User root
    Port 7374

StrictHostKeyChecking no
